<h2>My Heroes</h2>
<ul class="heroes">
  <!--ngFor directive for displaying lists. classbinding css selector [class.some-css-class]="some-condition"-->
  <li *ngFor="let hero of heroes" [class.selected]="hero === selectedHero" (click)="onSelect(hero)">
    <span class="badge" >{{hero.id}}</span> {{hero.name}}
  </li>
</ul>
<!--If statement, Angular directive-->
<div *ngIf="selectedHero">
  <!-- Using uppercase pipe-->
  <h2>{{ selectedHero.name | uppercase }} Details</h2>
  <div><span>id:</span> {{ selectedHero.id }}</div>
  <div>
    <label for="hero-name"> Hero name: </label>
    <input id="hero-name" [(ngModel)]="selectedHero.name" placeholder="name">
  </div>
</div>
